<div class="eddy-footer">
    <div class="eddy-icon">
        <ul>
            <li><a href="#" target="black"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" target="black"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" target="black"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" target="black"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#" target="black"><i class="fa fa-youtube-play"></i></a></li>
        </ul>
    </div>
    <!-- <div class="eddy-nav">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li class="p1"><a href="#">Features</a></li>
        </ul>
    </div>
    <div class="eddy-nav1">
        <ul>
            <li><a href="#">Chat</a></li>
            <li><a href="#">Articles</a></li>
            <li><a href="#">Video-chatting</a></li>
            <li><a href="#">Media</a></li>
        </ul>
    </div>
    <div class="eddy-nav2">
        <ul>
            <li><a href="#" title="To Top"><i class="fa fa-chevron-down"></i></a></li>
        </ul>
    </div> -->
</div>