*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

h1 {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50px);
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-size: 10em;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 0 5px 10px rgba(0,0,0,1);
	mix-blend-mode: overlay;
	font-family: 'Roboto', serif;
	box-shadow: 0 5px 10px rgba(0,0,0,1);
	text-decoration: none;
}

.eddy-footer{
	width: 100%;
	height: auto;
	margin: auto;
	background:#272727;
	padding: 20px 0px;
	
}

.eddy-icon{
	width: 100%;
	height: auto;
	margin: auto;
}

.eddy-icon ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.eddy-icon ul li{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0px 10px;
	border-radius: 100%;
	background: var(--secondary-color); 
}

.eddy-icon ul li a{
	text-decoration: none;
	color: #272727;
	font-size: 25px;
	display: block;
}

.eddy-icon ul li a i{
	line-height: 50px;
}

.eddy-icon ul li:hover{
	background: var(--primary-color);
}

.eddy-icon ul li a:hover >i{
	transform: scale(1.6) rotate(25deg);
}

.eddy-nav{
	width: 100%;
	height: auto;
	margin: auto;
	margin-top: 25px;
}

.eddy-nav ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.eddy-nav ul li{
	display: inline-block;
	margin: 10px 20px;	 
}

.eddy-nav ul li a{
	text-decoration: none;
	outline: none;
	font-family: 'Roboto', serif;
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
}

.eddy-nav ul li a:hover{
	color:  var(--primary-color);
}

.eddy-nav1{
	width: 100%;
	height: auto;
	margin: auto;
	margin-top: 15px;
}

.eddy-nav1 ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.eddy-nav1 ul li{
	display: inline-block;
	margin: 0px 20px;	 
}

.eddy-nav1 ul li a{
	text-decoration: none;
	outline: none;
	font-family: 'Roboto', serif;
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
}

.eddy-nav1 ul li a:hover{
	color:  var(--primary-color);
}

.eddy-nav2{
	width: 100%;
	height: auto;
	margin: auto;
}

.eddy-nav2 ul{
	
	text-align: center;
}

.eddy-nav2 ul li{
	
	width: 50px;
	height: 50px;
	margin: 0px 10px;
	border-radius: 100%;
	background:#fff; 
}

.eddy-nav2 ul li a{
	text-decoration: none;
	color: #272727;
	font-size: 25px;
	display: block;
}

.eddy-nav2 ul li a i{
	line-height: 50px;
}

.eddy-nav2 ul li:hover{
	background: var(--primary-color);
}

.eddy-nav2 ul li a:hover >i{
	transform: scale(1.6) rotate(180deg);
}

.footer-end p{
	font-family: 'Roboto', serif;
	font-size: 16px;
	text-align: center;
	color: #fff;
}

.footer-end a{
text-decoration: none;
color: #fff
}

.footer-end a:hover{
	color:  var(--primary-color);
}

@media(max-width:691px ) {
    .eddy-nav1 ul li a,.eddy-nav ul li a{
        font-size: 16px;
    }
}

@media(max-width:604px ) {
    .eddy-nav1 ul li a,.eddy-nav ul li a{
        font-size: 14px;
    }
    .eddy-nav ul li{
        padding: 0px ;
    }
}

@media(max-width:559px ) {
    .eddy-nav1 ul li a,.eddy-nav ul li a{
        font-size: 13px;
    }
}

@media(max-width:539px ) {
    .eddy-nav1 ul li a,.eddy-nav ul li a{
        font-size: 11px;
    }
    .eddy-nav ul li{
        margin: 5px 20px;
    }
    .eddy-nav ul li.p1 {
        padding-top: 10px;
    }
}

@media(max-width:380px ) {
	.eddy-nav ul li,.eddy-nav1 ul li{
		display: block;
		padding: 5px;
	}
    .eddy-nav2 ul li{
        display: none;
    }
    .eddy-icon ul li a i {
        line-height: 38px;
    }
    .eddy-icon ul li a{
        font-size: 20px;
    }
    .eddy-icon ul li{
    width: 40px;
        height: 40px;
    }
}

@media(max-width: 375px) {
        .eddy-nav ul li.p1 {
        padding-top: 0px;
    }
}