<div class="eddy-footer">
    <div class="eddy-icon">
        <ul>
            <li><a href="#" target="black"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" target="black"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" target="black"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" target="black"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#" target="black"><i class="fa fa-youtube-play"></i></a></li>
        </ul>
    </div>
</div>