<div class="eddy-footer">
    <div class="eddy-icon">
        <ul>
            <li><a href="https://github.com/edsont8"><i class="fab fa-github"></i></a></li>
            <li><a href="https://twitter.com/Edson__ccs"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.twitch.tv/best_in_live"><i class="fab fa-twitch"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UC4KFia9sEm_cXcoczE-9DuA"><i class="fab fa-youtube"></i></a></li>
            <li><a href="https://www.linkedin.com/in/edson-ccs/"><i class="fab fa-linkedin"></i></a></li>
        </ul>
    </div>
  </div>
  