<div class="flip-card">
  <mat-card class="example-card">
    <mat-card-header>
      <span class="material-icons gray900">touch_app</span>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      </div>
      <div class="flip-card-back">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally.
          </p>
          <div class="conteudo">
            <span class="material-icons gray900">thumb_up_off_alt</span>
          </div>
          <div class="conteudo">
            <span class="material-icons gray900">share</span>
          </div>
          <div class="conteudo">
            <span class="material-icons gray900">favorite_border</span>
          </div>
          <div class="conteudo">
            <span class="material-icons gray900">swipe</span>
          </div>
        </mat-card-content>
      </div>
    </div>
  </mat-card>
</div>