<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/home']">Home</a>
      <a mat-list-item [routerLink]="['/products']">Products</a>
      <a mat-list-item [routerLink]="['/sobre']">About</a>
      <a mat-list-item [routerLink]="['/contato']">Contact</a>
      <a mat-list-item [routerLink]="['/features']">Features</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="top-nav">
      <mat-toolbar color="primary">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <img src="/assets/logo13-full.png" alt="logo13-full-white">
        <!-- <div class="notifications">
          <div class="contenido">
            <span class="material-icons gray900">mark_chat_unread</span>
          </div>
          <div class="contenido">
            <span class="material-icons gray900">mark_email_unread</span>
          </div>
          <div class="contenido">
            <span class="material-icons gray900">notifications</span>
          </div>
        </div> -->
      </mat-toolbar>
    </div>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>