@import '~@angular/material/theming';
@include mat-core();

$eddy-primary: mat-palette($mat-light-blue);
$eddy-accent: mat-palette($mat-light-green);
$eddy-warn: mat-palette($mat-red);

$eddy-theme: mat-light-theme($eddy-primary, $eddy-accent, $eddy-warn);
@include angular-material-theme($eddy-theme);

//for dark theme
$eddy-primary-dark: mat-palette($mat-orange);
$eddy-accent-dark: mat-palette($mat-yellow);
$eddy-warn-dark: mat-palette($mat-red);

$eddy-theme-dark: mat-dark-theme($eddy-primary-dark, $eddy-accent-dark, $eddy-warn-dark);
.dark-theme-mode {
    @include angular-material-theme($eddy-theme-dark);
}